.hero-unit
  %h1= @dns
  %p
    %span.label{:class => label_type}= "Domain is #{@record.available? ? 'free' : 'taken'}!"
    - if @record.available?
      Hurry up and register it now!
    - else
      See the information below to find out more about the domain owner and status.
  %p
    - unless @record.available?
      =link_to "Visit home page of #{@dns}", "http://#{@dns}", :class => "btn btn-primary btn-large", :target => "_blank"
    - else
      =link_to "Here can be your registrars link!", "#", :class => "btn btn-primary btn-large"
    
- unless @record.available?
  .row

    .span2
      %h2 Status
      %dl
        -unless @record.expires_on.nil?
          %dt Expires
          %dd= date_of @record.expires_on
          %dd
            %em= "(in #{time_till @record.expires_on})"
        - add_list_section "Created On", @record.created_on
        - add_list_section "Updated On", @record.updated_on
        - add_list_section "Status", @record.status  

    .span4
      %h2 Contacts
      - unless @record.registrar.nil?
        %dl
          - add_list_section "Registrar name", @record.registrar.name
          - add_list_section "Registrar organization", @record.registrar.organization
          - unless @record.registrar.url.nil?
            %dt Registrar URL
            %dd= link_to @record.registrar.url
      .accordion#contacts
        - @record.contacts.each_with_index do |contact, index|
          -unless contact.nil?
            .accordion-group
              .accordion-heading
                = link_to contact_of_type(contact.type), "\##{contact_of_type(contact.type).downcase+index.to_s}", :class => "accordion-toggle", 'data-toggle' => "collapse", 'data-parent' => "#contacts"
              .collapse.accordion-body{:id => contact_of_type(contact.type).downcase+index.to_s}
                .accordion-inner
                  =render :partial => "contact", :object => contact

    .span3
      %h2 Nameservers
      %ul.unstyled
        - @record.nameservers.each do |ns|
          %li= ns.name.downcase
.well                
  = link_to "Lookup another domain", search_domain_path, :class => "btn btn-inverse"