.hero-unit
  %h1= @domain
  %p
    %span.label{:class => label_type}= "Domain is #{@free_class}!"
    - if @free
      Hurry up and register it now!
    - else
      See the information below to find out more about the domain owner and status.
  %p
    - unless @free
      =link_to "Visit home page of #{@r.domain}", "http://#{@r.domain}", :class => "btn btn-primary btn-large"
    - else
      =link_to "Here can be your registrars link!", "#", :class => "btn btn-primary btn-large"
    
- unless @free
  .row-fluid
    .span4
      %h2 Domain Status
      -puts @r.expires_on.to_s
      %dl.dl-horizontal
        %dt Expires
        %dd= date_of @r.expires_on
        %dd
          %em= "(in #{time_till @r.expires_on})"
        %dt Created On
        %dd= date_of @r.created_on
        %dt Updated On
        %dd= date_of @r.updated_on
        %dt Status
        - @r.status.each do |status|
          %dd= status
    .span3
      %h2 Name Servers
      %ul.unstyled
        - @r.nameservers.each do |ns|
          %li= ns.name.downcase
    .span5
      %h2 Contacts
      - unless @r.registrar.nil?
        %dl.dl-horizontal
          -add_list_section "Registrar name", @r.registrar.name
          -add_list_section "Registrar organization", @r.registrar.organization
          %dt Registrar URL
          %dd= link_to @r.registrar.url
      .tabbable
        %ul.nav.nav-tabs
          - @r.contacts.each_with_index do |contact, index|
            -unless contact.nil?
              %li{:class => ("active" if index == 0)}
                =link_to contact_of_type(contact.type), "\##{contact_of_type(contact.type).downcase}", 'data-toggle' => "tab"
        .tab-content
          - @r.contacts.each_with_index do |contact, index|
            -unless contact.nil?
              .tab-pane{:class => ("active" if index == 0), :id => contact_of_type(contact.type).downcase}
                =render :partial => "contact", :object => contact