%h2.domain
  = @domain
  %span.label{:class => label_type}= "Domain is #{@free_class}!"
- if @free
  %p Hurry up and register it now!
- else
  .row
    .span6
      -puts @r.expires_on.to_s
      %dl.dl-horizontal
        %dt Expires
        %dd
          =date_of @r.expires_on
          %em= "(in #{time_till @r.expires_on})"
        %dt Name Servers
        - @r.nameservers.each do |ns|
          %dd= ns
    .span4
      %h3 Contacts
      .tabbable
        %ul.nav.nav-tabs
          - @r.contacts.each_with_index do |contact, index|
            -unless contact.nil?
              %li{:class => ("active" if index == 0)}
                =link_to contact_of_type(contact.type), "\##{contact_of_type(contact.type).downcase}", 'data-toggle' => "tab"
        .tab-content
          - @r.contacts.each_with_index do |contact, index|
            -unless contact.nil?
              .tab-pane{:class => ("active" if index == 0), :id => contact_of_type(contact.type).downcase}
                =render :partial => "contact", :object => contact