!!!
%html
  %head
    %title Whois
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "Rubidium WHOIS", root_url, :class => "brand"
          %ul.nav
            - menu_item "Lookup Domain", 'domains', 'new'
    .container
      - if flash.key? :error and not flash[:error].blank?
        .alert.alert-error
          %button.close{'data-dismiss' => "alert"} ×
          = flash[:error]
      .row
        .span9
          = yield
        .span3
          .well.sidebar-nav
            - unless recent_domains.nil?
              %ul.nav.nav-list
                %li.nav-header Recent Domains
                - recent_domains.each do |domain|
                  %li
                    = link_to domain, :controller => 'domains', :action => 'create', :domain_request => domain
            %p.copy
              Copyright © 2012 Yuriy Tymchuk
              %br/
              = "v#{::VERSION}"
      
    = javascript_include_tag "application"
